extends layout

block content
  #banner.page-header
    .row
      .col-lg-6
        h1 rrangr
         small &nbsp;Find an arranger!
  .row
    .col-xs-12.col-sm-8
      .row.list-group
          .col-xs-12.list-group-item
            h4 
              a(href="/arranger") Billy Strayhorn
              small &nbsp;
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star-empty
              span.glyphicon.glyphicon-star-empty
              span.badge.pull-right.badge-default 100m
            p.emailAddress billy@strayhorn.com
            p
                span.label.label-warning Too expensive for you
                span.label.label-warning Might be dead
                span.label.label-warning Really good stuff
                &nbsp;
          .col-xs-12.list-group-item
            h4 
              a(href="/arranger") Hank Levy
              small &nbsp;
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star-empty
              span.glyphicon.glyphicon-star-empty
              span.badge.pull-right.badge-default 100m
            p.emailAddress hank@levy.com
            p
                span.label.label-warning Local talent
                span.label.label-warning Might be dead
                span.label.label-warning Also played bari sax
                &nbsp;

    .col-xs-12.col-sm-4 
      p.lead Looking for a music arranger for your band? Need someone to arrange material for the studio? rrangr is the place for you!
